<div class="mincon container text-left" style="text-align: left; ">
  <div>  
    <h1>Frequently Asked Questions:</h1>
  </div>
  
  <div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What is this website?
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block">
        This website was created by Samuel Clarke as an entry into a web development challenge from <a href="http://freecodecamp.com"> Free Code Camp</a>. Samuel enlisted the help of several friends of his and began development. 
        This websites purpose is to allow users to create polls and allow others to view and vote on a topic.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          How do I use this website?
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-block">
        To use this website, first <a href="/login">login</a> or <a href="/login?signup=true">sign up</a>. 
        From this point, you can vote on polls that people have sent you, or edit your <a href="/acount">account</a> details.
        You can also <a href="/createpoll">create polls</a>.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Where are the cat photos?
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="card-block">
        This photo should suffice your need.
        <img src="http://i.imgur.com/QTByw.jpg" alt="kitty cat" height="100px" width="100px" rounded border>
      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" role="tab" id="headingFour">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          How do i use the advanced markdown options?
        </a>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="card-block">
        There is further information on markdown information <a href="/pollmarkdown">here</a>.
      </div>
    </div>
  </div>
</div>
     
  
</div>