<html>
  <head>
    <title>Api Hub</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div class="cont1">
      <h1> Api's at your ready! </h1>
      <ul class="ul1">
        <li class="api"><h3>Timestamp validator:</h3>   
          <div class="prms"><ol>
            <li><a href="/timestamp/Sat%202%20Jan%202010"><h4>/timestamp/<i><b>timestamp</b></i></h4></a></li>
          </ol></div>
        </li>
        <li class="api"><h3>IP/Info Analyser: </h3>
          <div class="prms"><ol>
            <li><a href="/hparser/"><h4>/hparser/</h4></a></li>
          </ol></div>
        </li>
        <li class="api"><h3>Url Shortener:</h3> 
          <div class="prms"><ol>
            <li><a href="/shrturl/?shrtn=https://www.codepen.io"><h4>/shrturl/<i><b>?shrtn=longurl</b></i></h4></a></li>
            <li><a href="/shrturl/AyQKpl"><h4>/shrturl/<i><b>shrturlcode</b></i></h4></a></li>
          </ol></div>
        </li>
        <li class="api"><h3>Image Searcher:</h3>
          <div class="prms"><ol>
            <li><a href="/imgsearch/search%20query?page=1&amt=8"><h4>/imgsearch/<i><b>searchquery?page=1&amt=8</b></i></h4></a></li>
            <li><a href="/recentimgsearches/?amt=10"><h4>/recentimgsearches/?amt=10<i><b></b></i></h4></a></li>
          </ol></div>
        </li>
        <li class="api"><h3>File Analyser:</h3>
          <div class="prms"><ol>
            <li><a href="/filelength/"><h4>/filelength/</h4></a></li>
          </ol></div>
        </li>
      </ul>
    </div>
  </body>
</html>