<!DOCTYPE html>

<html>

	<head>
	</head>

	<header>
	</header>

	<body>
    <div class="mcon container">
      <% if(user) { %> 
        <h1> Meep Meep you're logged in :) </h1>
      <% } else { %>
        <h1> Meep Meep you're not logged in ): </h1>
      <% } %>
    </div>
	</body>

</html>