<div class="mincon container">
  <% if(signup) { %> <h3> Manual Signup </h3>
  <% } else { %>     <h3> Manual Login  </h3> <% } %>
  <form class="formBox rounded" action="<% if(signup) { %>/auth/login<% } else { %>/auth/signin<% } %>" method="POST">
    <small class="text-muted">Alpha-Numeric (a-z, 0-9) Only</small>
    <div class="form-group">
      <label for="name"> User Name </label>
      <input type="name" class="form-control" name="username" placeholder="Username">
    </div>
    <hr />
    <div class="form-group">
      <label for="pass"> Password </label>
      <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <% if(signup) { %>
    <div class="form-group">
      <label for="confirmpass"> Confirm Password </label>
      <input type="password" class="form-control" id="confirmpassword" placeholder="Confirm Password">
    </div>
    <% } %>
    <input type="button" value="<% if(signup) { %>Sign me up!<% } else { %>Log In<% } %>" class="loginWith btn btn-primary" />
  </form>
  <a href="/auth/github"><button class="loginWith btn btn-success loginWithGithub">Login with GitHub</button></a>
  <small class="text-muted">Or, alternatively...</small>
  <a href="/login?signup=true" class="loginWith text-center"><h5>Signup</h5></a>
</div>