<!-- TODO -->
<div class="mcon container text-center">
  <div class="pollmd-help-title col-12">
    <h1> A guide on poll markdown. </h1>
    <hr />
  </div>
  
  <div class="pollmd-help-colors col-12 row rounded">
    <div class="pollmd-help-colors-guide rounded col-12 col-md-8">
      <h4 class="pollmd-help-colors-guide-title col-12"><i>On colors:</i></h4>
      <hr />
      <p>
        You can use the color markdown on our pages by adding the "##color:<i>color</i>##" tag to the end of an answer.
      </p>
      <p>
        Eg: 
            <h5 style="text-align: left; margin-left: 40px;">Question: What is your favourite color?</h5>
            <ul style="text-align: left;">
              <li> Green ##color:green## </li>
              <li> Blue ##color:blue## </li>
            </ul>
      </p>
    </div>
    <div class="pollmd-help-accepted-colors rounded col-12 col-md-4">
      <h3>Accepted Colors:</h3>
      <ul class="list-group">
        <li class="list-group-item">green</li>
        <li class="list-group-item">pink</li>
        <li class="list-group-item">red</li>
        <li class="list-group-item">blue</li>
        <li class="list-group-item">aqua</li>
        <li class="list-group-item">yellow</li>
        <li class="list-group-item">orange</li>
        <li class="list-group-item">grey</li>
        <li class="list-group-item">purple</li>
        <li class="list-group-item">lime</li>
      </ul>
    </div>
  </div>
</div>