<!-- TODO -->
<div class="mcon container text-center">
  <div class="pollmd-help-title col-12">
    <h1> A guide on poll markdown. </h1>
    <hr />
  </div>
  
  <div class="pollmd-help-colors col-12 row rounded">
    <div class="pollmd-help-colors-guide rounded col-12 col-md-8">
      <h4 class="pollmd-help-colors-guide-title col-12"><i>On colors:</i></h4>
      <hr />
      <p>
        You can use the color markdown on our pages by adding the "##color:<i>color</i>##" tag to the end of an answer.
      </p>
      <p>
        Eg: 
            <h5 style="text-align: left; margin-left: 40px;">Question: What is your favourite color?</h5>
            <ul style="text-align: left;">
              <li> Green - ##color:green## </li>
              <li> Blue - ##color:blue## </li>
            </ul>
      </p>
    </div>
    <div class="pollmd-help-accepted-colors rounded col-12 col-md-4">
      <h3>Accepted Colors:</h3>
      <ul class="list-group">
        <li class="list-group-item graph-bar-green">green</li>
        <li class="list-group-item graph-bar-pink">pink</li>
        <li class="list-group-item graph-bar-red">red</li>
        <li class="list-group-item graph-bar-blue">blue</li>
        <li class="list-group-item graph-bar-aqua">aqua</li>
        <li class="list-group-item graph-bar-yellow">yellow</li>
        <li class="list-group-item graph-bar-orange">orange</li>
        <li class="list-group-item graph-bar-grey">grey</li>
        <li class="list-group-item graph-bar-purple">purple</li>
        <li class="list-group-item graph-bar-lime">lime</li>
        <li class="list-group-item graph-bar-brown">brown</li>
        <li class="list-group-item graph-bar-black">black</li>
        <li class="list-group-item graph-bar-magenta">magenta</li>
        <li class="list-group-item graph-bar-lavender">lavender</li>
      </ul>
    </div>
  </div>
  <div class="pollmd-help-colors col-12 row rounded">
    <div class="pollmd-help-colors-guide rounded col-12 col-md-12">
      <h4 class="pollmd-help-colors-guide-title col-12"><i>On Images:</i></h4>
      <hr />
      <p>
        You can use the image markdown on our pages by adding the "##image:<i>image_url</i>##" tag to the end of an answer.
        We reccomend not using large images, as it will harm load times.
      </p>
      <p>
        Eg: 
          <h5 style="text-align: left; margin-left: 40px;">Question: What is the best cat pic?</h5>
          <ul style="text-align: left;">
            <li> Cute cat - ##image:https://images-na.ssl-images-amazon.com/images/I/71zkiZbPxdL._SL256_.jpg## </li>
            <li> Funny cat - ##image:https://pbs.twimg.com/profile_images/682493419579699200/xu2JTnH4.jpg## </li>
          </ul>
      </p>
    </div>
  </div>
</div>