/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  background: #fefefe;
}

.navbar {
  background: #f6f6f6;
  margin-bottom: 3.5vh;
}
.mincon {
  padding: 8%;
  background: #efeff8;
  text-align: center;
}
.mcon {
  padding: 8%;
  background: #efeff8;
}
.loginWith {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.formBox {
  border: 2px solid #ddd;
  margin: 15px;
  padding: 15px;
}
.loginWithGithub {
  margin-top: 10px;
  margin-bottom: 75px;
}