.cont1 {
  width: 80vw;
  margin: 5vw;
  padding: 5vw;
  background-color: #99E2FF;
  text-align: center;
  color: black;
}
.ul1 {
  text-align: left;
}
.prms {
  text-align: right;
}
body {
  background-color: #EAFFF0;
}
ul {
  padding: 25px;
}
.api {
  padding: 10px;
}