/* styles */
/* calle  background: #f9f9f9d by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}


body {
  font-family: 'Lato', helvetica, arial, sans-serif;
  background: #f9f9f9;
   
}

.mincon {
  padding: 5%;
  background: #f9f9f9;
  text-align: center;
}
.mcon {
  background: #f9f9f9;
  padding: 0%;
}
.bordercon {
  border-right: 1px solid #dcd9d9;
  border-left: 1px solid #dcd9d9;
  border-bottom: 1px solid #dcd9d9;
}
.segment{
  padding: 10% 25% 10% 25%;
}
.miniseg{
  font-size:32px;
}
.minihidden{
  display: none;
  
}
.btext{
  background-color: #e6e6e6;
  color:green;
}

.avholder {
  padding: 0px;
  margin: 0px;
  margin-right: 64px !important;
}

.errholder {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2.6rem;
  background: #ff4c7c;
  animation: errholder-hider 4s;
  height: 0vh;
  padding-bottom: 0px;
  margin-bottom: 0px;
  opacity: 0;
  overflow: hidden;
}
.err {
}
@keyframes errholder-hider {
  0% {
    height: 12vh;
    padding-bottom: 16px;
    margin-bottom: 16px;
    background: #ff4c7c;
    opacity: 1;
  }
  40% {
    background: #ff8fbf;
    opacity: 0.9;
  }
  60% {
    height: 12vh;
    padding-bottom: 16px;
    margin-bottom: 16px;
    opacity: 0.9;
  }
  100% {
    height: 0vh;
    background: #f9f9f9;
    margin-bottom: 0px;
    padding-bottom: 0px;
    opacity: 0;
  }
}



/* ==== 
   HOME
   ==== */



.section-title {
  padding: 0;
  margin: 0;
}
.displayed-polls-container {
  list-style: none;
  padding: 0;
  margin: 0;
}
.poll-thumb {
  height: 200px;
  /*background-color: #245C95;*/
  border-radius: 10px;
  border: 4px solid black;
  margin: 0;
  padding: 0;
  position: relative;
}
.poll-thumb * {
  margin: 0;
  padding: 0;
}
.poll-thumb-question {
  display: flex;
  justify-content: center;
  height: 65%;
  padding: 5px 10px;
  text-align: center;
}
.poll-thumb-question-text {
  color: white;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  align-self: center;
}
.poll-thumb-question-text:hover {
  color: black;
}
.poll-thumb-userbar {
  position: absolute;
  bottom: 0;
  padding: 7px 5px 5px;
  background-color: rgba(255, 255, 255, 0.6);
  height: 30%;
  border-radius: 10px 10px 6px 6px;
  margin-top: 5px;
}
.poll-thumb-icon {
  width: 48px;
  height: 48px;
  margin-right: 5px;
}
.poll-thumb-spaceme {
  margin: 5px;
}
#poll-thumb-group-bottom {
  flex-direction: row;
  flex-wrap: nowrap;
}
#viewall-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.poll-thumb-username {
  font-size: 17px;
}


/* ======= 
   ACCOUNT
   ======= */



.loginWith {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
}
.btn {
  cursor: pointer;
}
.formBox {
  border: 2px solid #e3e3e3;
  padding: 15px;
}
.loginWithGithub {
  margin-top: 20px;
  padding: 0;
  background-color: #292b2c;
  color: white;
}
.dummy {
  padding: 0;
  margin: 0;
}
.loginWithFacebook {
  margin-top: 10px;
  background: #3a5897;
  color: white;
  padding: 0;
}
.login-icon {
  float: left;
  margin: 5px;
}
.login-special-text {
  text-align: left;
  margin: auto 0;
  margin-left: 5px;
}
.login-header {
  padding: 5px;
}
.special-logins {
  margin: 0 5px;
  margin-bottom: 10px;
}
.manual-logins {
  margin: 0 5px;
  margin-bottom: 10px;
}
.acc-cont {
  background: #ececec;
}
.acc-mbar {
  height: 100%;
}
.acc-user-section {
  background: #f9f9f9;
}
.acc-polls-section {
  background: #f9f9f9;
}



/* =============
   POLL CREATION
   ============= */

.disabled-adder {
  background: #c0c0c0;
}
#addres {
  transition: all .15s ease-in-out;
  cursor: pointer;
}
#addres:hover {
  background: #ececec;
}

.polls-text {
  padding: 0;
  margin-top: 10%;
  min-height: 100%;
}
.polls-text-b {
  padding: 0;
  margin-top: 10%;
  min-height: 100%;
}
.acc-prof-pic {
  border-radius: 5%;
  width: 80%;
  height: 80%;
  padding: 0;
  margin-top: 20%;
  margin-right: 10%;
  margin-bottom: 10%;
  margin-left: 10%;
}
.acc-edit-btn {
  width: 100%;
  margin-top: 7%;
  margin-bottom: 10px;
}


.poll-button {
  width: 100%;
}
.navbar {
  min-height: 78px !important;
}
.acc-formBox {
}
label {
  margin-top: 10px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.07); }

.btn-correct-row {
  margin-top: 0px;
}
.allpolls{
  padding: 0;
  margin: 0;
}
.poll-title {
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin-left: 0;
}
.my-polls-title-text {
  padding: 0;
  margin: 0;
}
.create-btn {
  padding: 0;
}
.poll-title-container {
  background-color: #eceeef;
  padding: 9px;
  color: black;
  border: 1px solid rgba(0,0,0,.15);
  border-right: none;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
.poll-title-container:hover {
  background-color: #D4D6D7;
}
.poll-title-container:active {
  background-color: #D4D6D7;
}
.poll-title-container h6 {
  margin: 0;
}
.disabled-adder {
  
}
.removelinkdefault {
    color: black;
    text-decoration: none;
}
.removelinkdefault:hover {
  text-decoration: none;
  color: black;
}
.removelinkdefault:visited {
  text-decoration: none;
}
.removelinkdefault:active {
  text-decoration: none;
}
.del-form {
  border-radius: 0;
  color: red;
  padding: 0;
}
.text-muted {
  padding: 0;
}



/* =========== 
   POLL VOTING
   =========== */

.poll-selected {
  background-color: #5bffbb;
}
.poll-selected:hover {
  background-color: #45e5a5;
}
.polls-min-avatar {
  width: 50%;
  border-radius: 15%;
  float: left;
}
.polls-min-avatar-right {
  width: 50%;
  border-radius: 15%;
  float: right;
}
.poll-choose {
  height: 100%;
}
.poll-ans-row {
  margin-bottom: 10px;
}



/* ============ 
   RESULT GRAPH
   ============ */

.graph-bar {
  color: white;
}

.graph-bar-green {fill: #79e273; background: #79e273;} .graph-bar-green:hover {fill: #97f791; background: #97f791;}
.graph-bar-pink {fill: #d14981; background: #d14981;} .graph-bar-pink:hover {fill: #ff77af; background: #ff77af;}
.graph-bar-red {fill: #c44c56; background: #c44c56;} .graph-bar-red:hover {fill: #f26d78; background: #f26d78;}
.graph-bar-blue {fill: #225393; background: #225393;} .graph-bar-blue:hover {fill: #3b85e5; background: #3b85e5;}
.graph-bar-aqua {fill: #22b5a3; background: #22b5a3;} .graph-bar-aqua:hover {fill: #42c5d3; background: #42c5d3;}
.graph-bar-yellow {fill: #f2d948; background: #f2d948;} .graph-bar-yellow:hover {fill: #ffeb7a; background: #ffeb7a;}
.graph-bar-orange {fill: #cc7e3b; background: #cc7e3b;} .graph-bar-orange:hover {fill: #efad75; background: #efad75;}
.graph-bar-grey {fill: #b5b5b5; background: #b5b5b5;} .graph-bar-grey:hover {fill: #d8d8d8; background: #d8d8d8;}
.graph-bar-purple {fill: #6739b2; background: #6739b2;} .graph-bar-purple:hover {fill: #a36bff; background: #a36bff;}
.graph-bar-lime {fill: #8fce54; background: #8fce54;} .graph-bar-lime:hover {fill: #b4f477; background: #b4f477;}
.graph-bar-brown {fill: #af5108; background: #af5108;} .graph-bar-brown:hover {fill: #bf6118; background: #bf6118;}
.graph-bar-black {fill: #0a0a08; background: #0a0a08;} .graph-bar-black:hover {fill: #1a1a18; background: #1a1a18;}
.graph-bar-magenta {fill: #a82667; background: #a82667;} .graph-bar-magenta:hover {fill: #b83677; background: #b83677;}
.graph-bar-lavender {fill: #6f25a8; background: #6f25a8;} .graph-bar-lavender:hover {fill: #7f35b8; background: #7f35b8;}
#chart {
  padding: 0;
  margin: 0;
}


/* =========== 
   LOGIN STUFF
   =========== */



#logout {
  color: #b20000;
}
#logout:hover {
  color: #e50000;
}

.log {
  color: rgba(255,255,255,.5);
}
.log:hover {
  color: rgba(255,255,255,.75);
}

.nomarg {
  margin: 0;
}
.login-page-container {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}


/* =======================
   POLL MARKDOWN HELP PAGE
   ======================= */

.pollmd-help-colors-guide {
  background: #f1f1f1;
}
.pollmd-help-title {
  background: #f9f9f9;
  padding-bottom: 20px;
  margin-bottom: 10px;
  margin-top: 10%;
}
.pollmd-help-colors-guide-title {
  margin-top: 15px;
}


.navbar {
  justify-content: center;
}
#title-underline {
  margin: 0;
}

.rowOverride {
  display: flex !important;
  flex-wrap: wrap !important;
}
.section-title-container {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}


/* ============
   ICON CLASSES
   ============ */

.icon32 {
  height: 48px;
  width: 48px;
}
.icon48 {
  height: 48px;
  width: 48px;
}
.icon64 {
  height: 64px;
  width: 64px;
}



/* =====================
   FECKIN' TOGGLE SWITCH
   ===================== */


.toggle-off {
  background-color: lightgray;
  border: 5px solid lightgray;
  padding: 5px;
}
